.collapse-container{
    margin-bottom: 50px;
}

.dropdown-open-collapse{
  border-radius: 5px;
  .title{
      background-color: #FF6060;
  
  }

}



.collapse-container{
    display: flex;
    justify-content: space-between;
}




.icon {
    transition: transform 0.3s ease; 
    color: white;
  }

  .icon:hover{
    cursor: pointer;
  }
  
  .icon.rotate {
    transform: rotate(180deg); 
  }

  .dropdown-open-collapse{
    margin-bottom: 20px ;
  }


  @media screen and (max-width: 500px)  {

    .collapse-container{
      display: flex;
      flex-direction: column;
      margin-top: 120px;
    }

    .col-2{
      width: 100%;
    }

    .Host-container{
      position: absolute;
    top: 750px;
    right: 20px;
    }

    .ratting-container{
      position: absolute;
      top: 750px;
      left: 20px;

    }


  }