.collapse-container {
  margin-bottom: 50px;

  h2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;

  }
}

.dropdown-open-collapse {
  border-radius: 5px;

  .title {
    background-color: #FF6060;

  }

}



.collapse-container {
  display: flex;
  justify-content: space-between;
}




.icon {
  transition: transform 0.3s ease;
  color: white;
}

.icon:hover {
  cursor: pointer;
}

.icon.rotate {
  transform: rotate(180deg);
}

.dropdown-open-collapse {
  margin-bottom: 20px;
}


@media screen and (max-width: 500px) {

  .collapse-container {
    display: flex;
    flex-direction: column;
  }

  .col-2 {
    width: 100%;
  }

  .tag-rat-container {
    display: flex;
    flex-direction: column;
  }


}