* {
    font-family: 'Montserrat';
}

.card-container {
    width: 90%;
    margin: auto;
}

.slideractive {
    height: 415px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.icon-vide {
    color: #E3E3E3;
}


.slider-num {
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 510px;
    left: 50%;
}

.mg-prev {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 330px;
    left: 8%;
}

.mg-next {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 330px;
    right: 8%;
}

.title-logement {
    color: #FF6060;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;

}

.tag-rat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
}

.col-2 {
    width: 45%;
}

.container-title-rat {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 550px) {

    .mg-prev {
        position: absolute;
        top: 180px;
    }

    .mg-next {
        position: absolute;
        top: 180px;
    }

    .slider-num {
        position: absolute;
        top: 300px;
    }

    .slider {
        height: 255px;
    }
}

@media screen and (max-width: 500px) {
    .container-title-rat {
        display: flex;
        flex-direction: column;

        .rat-user-logement {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .ratting-container {
                display: flex;
                align-items: center;
            }
        }
    }
}