.main-container {
    margin: 0 auto;
    width: 90%;
    background-color: #F6F6F6;
    border-radius: 25px;

    .Gallery-item {
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 50px;

        .item-gallery {
            list-style: none;
            margin: 0;
            height: 225px;
            border-radius: 15px;
            background-color: #FF6060;
            color: white;
            text-align: center;
            position: relative;

            img {
                width: 100%;
                height: 225px;
                object-fit: cover;
                border-radius: 15px;
                position: relative;
                display: block;
            }
        }

        .title-item-gallery {
            position: absolute;
            top: 70%;
            margin: auto;
            font-size: 18px;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }

    @media screen and (max-width: 900px) {
        .Gallery-item {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 550px) {
        width: 100%;

        .Gallery-item {
            display: flex;
            flex-direction: column;
            
        }

      
    }

    
}

