

.liste-tag {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
    

    .tags{
        background-color: #FF6060;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        color: white;
        padding: 5px 5px 5px 5px;

    }
}

.ratting-container{
    padding: 20PX;
}
